* {
	padding: 5px; /* dar um espacmento entre todos os elementos da pagina */
}

hr {
	padding: 0px; /* remover a largura na linha feita pelo padding em '*' */
}

th {
	 background: #B1E6F2; /* azul */
}

a {
	text-decoration: none;
}

/* visited link. com excecao dos links usando a classe pure-button */
a:visited:not(.pure-button) {
    color: blue;
}

/* mouse over link. com excecao dos links usando a classe pure-button */
a:hover:not(.pure-button) {
    color: green;
}

/* classes para serem usadas juntamente com a pure-button do pure-css (adicionar regras css ao pure-button) */
.btn-editar,
.btn-deletar {
	color: white;
    border-radius: 4px;
    background: #29B602; /* verde */
}

.btn-deletar {
    background: #E52C1A; /* vermelho */
}