<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Editar Task</title>

	<script type="text/javascript" src="../resources/javascript/edit_task.js"></script>
</head>
<body>

	<hr>
	
	<form id="form_edit_task" class="pure-form pure-form-aligned">
		<label for="titulo">Título: </label>
		<input type="text" id="titulo" required />
		
		<label for="descricao">Descrição: </label>
		<textarea id="descricao"></textarea>

		<label for="status_concluido">Concluida: </label>
		<input type="checkbox" id="status_concluido">
		
		<hr><br>
		<input type="hidden" id="task_id" />
		<input type="submit" value="Atualizar" class="pure-button pure-button-primary" />
		<a href="#/" class="pure-button">Voltar</a>
	</form>
	
</body>
</html>