<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tasks</title>

	<link rel="stylesheet" type="text/css" href="../resources/css/pure-min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/estilo.css">
	<script type="text/javascript" src="../resources/javascript/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../resources/javascript/list_task.js"></script>
</head>
<body>

	<nav>
		<a href="#/add" class="pure-button pure-button-primary">Adicionar Task</a>
	</nav>

	<br>

	<table id="task_table" class="pure-table pure-table-striped">
		<thead>
			<tr align="center">
	    		<th>Título</th>
	    		<th>Data de Criação</th>
	    		<th>Data de Modificação</th>
	    		<th>Concluída</th>
	    		<th>Ações</th>
	    	</tr>
		</thead>
		<tbody></tbody>
    </table>

</body>
</html>