<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Visualizar Task</title>

	<link rel="stylesheet" type="text/css" href="../resources/css/pure-min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/estilo.css">
	<script type="text/javascript" src="../resources/javascript/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../resources/javascript/view_task.js"></script>
</head>
<body>

	<hr>
	
	<form class="pure-form pure-form-aligned">
		<label for="titulo">Título: </label>
		<input type="text" id="titulo" readonly />
		
		<label for="descricao">Descrição: </label>
		<textarea id="descricao" readonly></textarea>

		<label for="status_concluido">Concluida: </label>
		<input type="checkbox" id="status_concluido" readonly>
		
		<hr><br>
		<a href="#/" class="pure-button">Voltar</a>
	</form>

</body>
</html>